/*  ===== MOBILE styles (reside at the top and are inherited by all devices) ===== */
/*  ===== See tablet, desktop, and print @media queries at the bottom. */


/*   ----- Imports  -----  */
  /* @import 'node_modules/modern-normalize/modern-normalize.css';  npm install modern-normalize  Resets elements for browser consistency.  https://www.npmjs.com/package/modern-normalize */         
  /* @import "component1.css";   Component-specific stylesheets, if any.   */
  /* @import url(//fonts.googleapis.com/css?family=Font+Name); Add fonts from a hosted services like Google Fonts.   */
  @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Montserrat:wght@300&display=swap');


/*   ----- Variables  -----  */
:root {
    --custom-color-name:;
    --custom-embellishment-name:;
  }
  
  /*  ----- Viewport ----- elements inherited by all remaining elements ----- */

  body {
    margin:auto;
    background-color:rgb(246,241,238);
    background-image:;
    color:rgb(108,95,91); /* Define with at least one font name and its related generic family name.*/
    padding:;
    max-width:960px;
  }
/*  ----- Collapsible -----  */  

  
  .Collapsible__trigger.is-open svg {
    transform: rotate(180deg);
  }

  /* // The main container element */
.Collapsible {
  background-color: rgb(246,241,238);
  padding-bottom: 20px;
}

.Collapsible__contentInner {
  padding: 10px;
  border: 1px solid #ed7d31;
  border-top: 1px solid #ed7d31;

  p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
/* when clicked opens collapsible area */
.Collapsible__trigger {
  font-weight: 400;
  text-decoration: none;
  position: relative;
  padding: 10px;
  background: #ed7d31;
  color:rgb(79,74,69);
  font-family: 'Barlow Condensed', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;


  &.is-open {
    &:after {
      transform: rotateZ(180deg);
    }
  }

  /* &.is-disabled {
    opacity: 0.5;
    background-color: grey;
  }
}

.CustomTriggerCSS {
  background-color: lightcoral;
  transition: background-color 200ms ease;
  
  
}

.CustomTriggerCSS--open {
  background-color: darkslateblue;
}

.Collapsible__custom-sibling {
  padding: 5px;
  font-size: 12px;
  background-color: #CBB700;
  color: black; */
}


  /*  ----- Page layout blocks -----  */
  header {}
  main {
    font-family:'Montserrat', sans-serif;
  }
  section {
  }
  article {}
    #topic1 {}
    #topic2 {}
  div {}
  aside {}
  footer {}
  
  /* ----- Anchors ----- Text links */
  a {}
  a:link {}
  a:hover {}
  a:active {}
  a:visited {}
  
  /*  ----- Navigation ----- Override text links for navigation only.  */
  nav {background-color: #ed7d31;
    width: 100%;
    overflow: auto;
    font-family: 'Barlow Condensed', sans-serif;
  }
  nav a {
    float: left;
    text-align: center;
    padding: 12px;
    color: rgb(79,74,69);
    font-size: 17px;
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif;
  }
  nav a:hover {
    background-color:rgb(246,241,238);
    color: #ed7d31;
    font-family: 'Barlow Condensed', sans-serif;
  }


  
  /*  -----  Typography  ----- */
  p {}
  br {}
  ol, ul, dl {}
  li {}
  dt {}
  dd {}
  
  h1, h2, h3, h4, h5, h6 {
    color: rgb(79,74,69);
    font-family: 'Barlow Condensed', sans-serif;
  } 
  h1 {}
  h2 {}
  h3 {}
  h4 {}
  h5 {}
  h6 {}
  
  abbr {}
  acronym {}
  address {}
  blockquote {}
    q {}
    cite {}
  em {}
  hr {}
  mark {}
  s {}
  span {}
  strong {}
  sub {}
  sup {}
  time {}
  
  /*  ----- Coding or instructional typography ----- */
  pre {}
  code {}
  kbd {}
  samp {}
  var {}
  del {} 
  ins {}
  
  /*  ----- Table ----- */
  table {
    border:1px solid #b3adad;
    border-collapse:collapse;
    color: rgb(79,74,69);
    padding: 5px;
  }
  table th {
    border:1px solid #b3adad;
    padding:5px;
    color: rgb(79,74,69);
    text-align: left;

  }
  table td {
    border:1px solid #b3adad;
    text-align:left;
    padding:5px;
    color: rgb(79,74,69);
  }
  caption {}
  thead {}
  tbody {}
  tfoot {}
  tr {}
    tr:nth-child(even) {}

    td:nth-child(1) {}
  colgroup {}
  data {}
  datalist {}
  
  
  /*  ----- Form ----- */
  form {
  }
  select {
    border: 2px solid #ed7d31;
    color: #ed7d31;
    margin: 5px ;
  }
  fieldset {}
    legend {}
  label {}
  button {
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid #ed7d31;
    color: #ed7d31;
    background-color: rgb(246,241,238);
    font-family: 'Barlow Condensed', sans-serif; 
    padding: 2px;
    margin-left: 5px;
    /* box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px; */
    font-size: 16px;
  }
    
    button:hover{
        background-color: #ed7d31;
        color:rgb(79,74,69) ;
    }
    
  input {}
  select {}
    optgroup {}
    option {}
  textarea {}
  output {}
  meter {}
  progress {}
  
  
  /* ----- Media ----- */
  figure {}
    figcaption {}
    figure img {}
  svg {}
  picture {}
    source {}
  iframe {}
  video {}
  audio {}
  embed {}
  object {}
  
  /*  ----- Classes for alignment, positioning, widths, grids, embellishments, and animation -----  */
  .gallery {}
  
  .floatright {}
  .floatleft {}
  .center-middle {}
  
  .ten {}
  .twenty {}
  .thirty {}
  .forty {}
  .fifty {}
  .sixty {}
  .seventy {}
  .eighty {}
  
  .radius {}
  .circle {}
  .boxshadow {}
  .tshadow {} 
  .gradient {}
  .shape {}
  
  @keyframes App-logo {}
  
  /*   ===== TABLET  media query overrides mobile styles ===== */
  @media all and (min-width: 600px) {}
  
  /*   ===== DESKTOP  media query overrides mobile and tablet styles ===== */
  @media all and (min-width: 1080px) {}
  
  /*   ===== PRINT  media query overrides previous styles =====  */
  @media print {}
/* 
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
